# Ignore node_modules directory
node_modules

# Ignore logs and temporary files
index.html

# Ignore the .git directory and .gitignore file
.gitignore

# Ignore Dockerfile and docker-compose.yml
Dockerfile


# Ignore environment variable files
robots.txt
README.md
